<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>registro</title>
<link rel="stylesheet" type="text/css" href="CSS/registro.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
  <center>
  <div class="card" style="width: 20rem;">
  <div class="card-block">
    <form action="{% url 'crear_usuario' %}" method="POST">
      {% csrf_token %}
     <div class="form-group" id="formulario">
       Bienvenido a instagram<br>
       <div class="form-group">
       <input type="text"placeholder="Correo" name="email">
     </div>

      <div class="form-group">
       <input type="text"placeholder="Nombre Completo" name="name">
     </div>

      <div class="form-group">
       <input type="text"placeholder="Nombre de Usuario" name="username">
      </div>

        <div class="form-group">
       <input type="password"placeholder="Contraseña" name="password" ><br>
     </div>

       <div class="form-group">
      <input type="password"placeholder="Confirmar Contraseña"><br>
    </div>

   <div>
     <button class="btn btn-warning">Registrate</button>
    </form>
    <br>
     ¿Tienes cuenta?
      <a href="tienes_cuenta.html">Entrar</a><br>
  </div>
</div>
 </center>
 <div id="Imagenes">
<img src="Imagenes/grey.jpg" id="Img1">
<img src="Imagenes/ova2.jpg" id="Img2">
</div>
</body>
</html>
