<html>
<head>
<meta charset="UTF-8">
<title>registro</title>

</head>
<body>
  <center>
<div class="card-block">
inicio de seccion<br>
<div class="card" style="width: 20rem;">
<div class="form group">
 <input type="text" class="form-control" id="" name="username" placeholder="Nombre de usuario">
</div>
<div>
 <input type="text" class="form-control" id="" name="password" placeholder="Contraseña">
</div>
<a href="pag_inicio_instagram.html"><button type="button" class="btn btn-warning">ENTRAR</button></a>
</div>
</div>
</center>
</body>
</html>
